uvicorn==0.20.0
fastapi==0.92.0
pytorch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
pytorch-cuda==11.7
numpy==1.24.2
opencv==4.7.0
scipy==1.10.0
gdown==4.6.3
transformers==4.26.1
tensorboardx==2.5
loguru==0.6.0
